body {
    background-color: #efefef;
    font-size: 14px;
    color: #333;
    margin: 0;
}

h1,h2,h3 {
    margin: 0 0 0 0;
    padding: 0;
}

.header-title-area {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: white;
}

.logo {
    font-size: 32px;
    text-align: center;
}

.header-navigation {
    width: 100%;
    margin: 2px 0 30px 0;
    background-color: black;
    padding: 20px 0;
}

.header-navigation:after {
    clear: both;
    display: block;
    content: " ";
}

.header-navigation li {
    float: left;
    padding: 0 30px;
    text-align: center;
    list-style-type: none;
}

.header-navigation li a {
    color: white;
    text-decoration: none;
}

.main {
    width: 1060px;
}

.left-contents {
    width: 600px;
    margin-right: 20px;
    float: left;
}

.blog {
    height: 200px;
    width: 600px;
}

.person-image {
    width: 250px;
    margin-left: 45px;
    margin-right: 5px
}



.blog-text {
    width: 300px;
    height: 170px;
    float: right;
}

.text-title {
    color: aqua;
}

.date {
    color: black;
}

.right-contents {
    
    width: 440px;
    float: left;
}

.articles-title {
     width :440px;
     padding-top:5px;
     padding-bottom:10px;
     border-bottom :3px solid silver;
}

.articles-contents {
    padding-top:10px;
    width :440px;
}

.person-image2 {
    width : 50px;
}

.articles-contents-text {
    margin-right: 135px;
    margin-left: 5px;
    width :250px;
    float: right;
}

.main:after {
   content: "";
   display: block;
   clear: both;
}

.footer-text {
    text-align: center;
}